/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
*{
    margin: 0px;
    padding: 5px 20px;
}
.hide{
    display: none;
}
.fila-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
/* style nav */
.dark-2{
    color: #474747;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-weight: 700px;
}
nav button{
    color: #006A50;
    border-radius: 5px;
    border:1px solid #006A50;
    margin-right: 25px;
}

/* style main section */

.Banner-Section{
    background-color: #C6E4D6;
    border-radius: 10px;
    margin: 40px;
}
.Banner-div{
    display: flex;
    text-align: left;
}
.btn{
    background-color: #006A50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    color: white;    
}

.Banner-Section-1{
    margin: 117px auto;
}
.Banner-Section-discription{
    font-size: 50px;
    font-weight: bolder;
  
}
.Banner-Section-2{
    align-items: center;
    margin: 80px auto;
}

/* The Vision of Future */
.The-Vision-of-Future-section{
    margin-top: 40px ;  
}
.The-Vision-of-Future-section-title{
    font-size: 30px;
    font-weight: 700px;
}
.visions{
    display: flex;
    gap: 20px;
}
.vision-1{
    border-radius: 10px;
    background-color: #548ff536;
    padding-bottom: 32px;
}
.vision-2{
    border-radius: 10px;
    background-color: #c6e4d669;
    padding-bottom: 32px;
}
.vision-3{
    border-radius: 10px;
    background-color: #ffc4395e;
    padding-bottom: 32px;
}
.btn-1{
    background-color: #548ff5;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 20px; 
    margin-top: 15px; 
    color: white; 
}
.btn-2{
    background-color: #a6cebb;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;  
    margin-top: 15px; 
    color: white; 
}
.btn-3{
    background-color: #ffc439;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;   
    margin-top: 15px;
    color: white; 
}
.btn-1:hover,.btn-2:hover,.btn-3:hover,.btn:hover,.nav-btn:hover{
    background-color: rgba(255, 0, 0, 0.719);
    color: rgb(9, 32, 9);
}
.Dr-Yunus{
    background-color: rgb(230, 217, 201);
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    margin-left: 25px;
    margin-top: 30px;
    border-radius: 15px;
   
}
/* style Recent-News */
.Recent-News{
    margin: 30px auto;
}

.Recent-News-big-div{
    display: flex;
    background-color: rgb(230, 207, 207);
    border-radius: 20px;
    margin: 30px 20px;
}
.Recent-News-small-div{
    display: flex;
    margin-left: -18px;
   
}
.Recent-News-img{
    border-radius: 50px;
    margin: 20px auto;
}
.padding-text{
    padding: 30px;
}

/* Donate-For-Bangladesh section style */
.Donate-For-Bangladesh-title{
    font-size: 35px;
}
.Amount{
    background-color:  rgba(221, 180, 180, 0.219);
    width: 150px;
    height: 25px;
    text-align: center;
    justify-content: space-between;
    padding: 50px 50px;
    font-size: 30px;
    border-radius: 15px;
}
.Amount:hover{
    background-color: #ffc439;
    color: white;
}
.Amount-two{
    background-color: rgb(221, 180, 180) ;
}
.Donate-For-Bangladesh{
    text-align: center;
    
}
.Amounts{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    padding: 20px 100px;
}
.input-taka{
    margin: 20px auto;
   width: 80%;
   height: 50px;
   background-color:  rgba(221, 180, 180, 0.267) ;
   border: none;
   text-align: center;

   
}
.input-taka:hover{
    background-color: rgb(221, 180, 180) ;
    color: white;
}
.btn-4{
    background-color: #006A50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;   
    margin-top: 15px;
    color: white; 
}
.btn-4:hover{
    background-color: #548ff5;
    color: white;
}


/* Newsletter-Section */
.Newsletter-Section{
    background-color: rgb(198, 228, 214);
    margin: 30px;
    border-radius: 20px;
   
}
.Newsletter-Section-parents{
    text-align: center;
    margin: 80px auto;
}
.Newsletter-Section-title{
    font-size: 30px;
}
.Newsletter-Section-input{
    width: 600px;
    height: 40px;
    border-radius: 8px 0px 0px 8px;
    background-color:  rgba(255, 255, 255, 0.089);
    margin: 0px 0px;

}
.Newsletter-Section-input:hover{
    background-color:  rgba(255, 255, 255, 0.089);
    background: rgb(230, 192, 192);
}
.btn-5{
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: white; 
    width: 100px;
    height: 56px;
    border: none;
    margin-left: -10px;
    margin-top: 30px;
}
.btn-5:hover{
    background-color: #548ff5;
    color: white;
}
.style{
   margin-top: 40px;
}


/* footer style */
.fotter-div{
    text-align: center;
    background-color: rgba(221, 221, 221, 0.521);
    border-radius: 15px;
}

/* responsive */
@media screen and (max-width:576px){
    .nav-section{
        gap: 9rem;
    }
    .nav-title{
        margin-left: -30px;
        padding-left: 10px;
    }
    .Banner-Section-2 > img{
        width: 100%;
        
    }
    .Banner-div{
        flex-direction: column-reverse;
        margin-left: -60px;
        gap: 5px;
       
    }
    .Banner-Section-2-img{
        padding-bottom: 0px;
    }
    .Banner-Section-1{
        display: flex;
        margin: 1px ;
        /* align-items: center; */
        align-items: center;
        justify-items: center;
    
        flex-direction: column;
    }
    .Banner-Section-discription{
        font-size: 2rem;
        font-weight: bolder;
      
    }
}